
// Colors

//Base
$clr-prim1:#9E7F66;
$clr-prim2: #111111;

$clr-sec1:#17192B;
$clr-sec2:#242B37;
$clr-sec3:#7B7484;

$clr-gray-md-light:#B0A8B9;
$clr-gray-light:#aeaead;
$clr-white:#ebf4f2;

//Product Palette
$clr-link:#00C9A7;


$clr-accent:#FF8B68;
$clr-highlight:#F2C94C;
$clr-shadow:#24242483;

//Syntactical Palletes
//Bool
$clr-pos:#71d165;
$clr-neg: #B03939;

//Conversion to css variables
:root{
    --clr-prim1: #{$clr-prim1};
    --clr-prim2:#{$clr-prim2};
    --clr-accent:#{$clr-accent};
    --clr-highlight:#{$clr-highlight};
    --clr-link:#{$clr-link};

    --clr-sec1:#{$clr-sec1};
    --clr-sec2:#{$clr-sec2};
    --clr-sec3:#{$clr-sec3};

    --clr-pos:#{$clr-pos};
    --clr-neg:#{$clr-neg};
}