@function rem($size) {
  $remSize: $size / 16px;
  @return ($remSize) * 1rem;
}

@function em($pixels, $context: 16px) {
  @return ($pixels/$context) * 1em;
}


//returns a color by calculating the lightness of the passed color.
@function set-color($color,$clamp) {
    @if (lightness($color) < $clamp) {
      @return $clr-sec1;
    }
    @else {
      @return $clr-sec3;
    }
}

@function getTransition($transition, $transition-duration, $categories){
    $result : ();
    @each $category in $categories{
        $result:append($result,$category $transition-duration $transition,$separator: comma)
    }
    @return $result;
}

@function getTextShadow($x,$y,$offsetX,$offsetY,$color){
  $bigger : max($x, $y);
  $yDiff: $y / $bigger;
  $xDiff: $x / $bigger;
  $result:();
  @for $_ from 1 through $bigger {
    $result : append($result, #{($_*$xDiff)+$offsetX+'px'} #{($_*$yDiff)+$offsetY+'px'} $color, $separator:comma)
  }
  @return $result;
}
