  // .app {
  //   text-align: center;
  //   display: flex;
  //   background: $clr-primary;
  //   padding:10vmin;
  //   .content{
  //     display: flex;
  //     flex-flow: column;
  //     flex-grow: 1;
  //   }
  // }


.App-logo {
  height: 40vmin;
  pointer-events: none;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: $clr-white;
  box-sizing: border-box;
  margin: 0 auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;

  font-size: calc(10px + 2vmin);
  background-color: $clr-primary;
  color:$clr-white
}

.App-link{
  transition: getTransition(ease-in, .25s, (color,text-shadow));
  $background-shadow:rgb(59, 40, 61);
  text-shadow: getTextShadow(4,4,0,0,darken($clr-link,25)), getTextShadow(-9,8,4,4,$background-shadow);
  &:hover{
    text-shadow: getTextShadow(4,4,0,0,darken($clr-link,8)), getTextShadow(-9,8,4,4,$background-shadow);
  }
  &:visited{
    text-shadow: getTextShadow(4,4,0,0,darken($clr-link,33)), getTextShadow(-9,8,4,4,$background-shadow);
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
